<!- importacion de cabeceras --->
  <%- include("partials/_header") %>

    <div class="container mt-5 ">
      <div class="row mt-5">
        <div class="col-md-7">
          <table class="table table-dark table-bordered table-hover">
            <thead>
              <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones </th>
              </tr>
            </thead>
            <tbody>
              <% if(data){ %>
                <% for(var i=0; i <data.length; i++) {%>
                  <tr>
                    <td><%= (i+1) %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].address %></td>
                    <td><%= data[i].phone %></td>
                    <td>
                      <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Borrar</a>
                      <a href="/update/<%= data[i].id %>" class="btn btn-success">Editar</a>
                    </td>
                    
                  </tr>
                
                  <% } %>
    
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <form action="/add" method="POST">
              <input type="text" name="name" placeholder="Nombre" class="form-control mb-2" autofocus />
              <input type="email" name="address" placeholder="Correo " class="form-control mb-2" />
              <input type="text" name="phone" placeholder="Telefono" class="form-control mb-2" />

              <button type="submit" class="btn btn-info">Guardar customer</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/_footer") %>